<div class="card border-secondary mb-3">
  <div class="card-header d-flex justify-content-between">
    <%= message.name.truncate(20) %>
    <%= link_to message, data: { confirm: 'Are you sure?' }, method: :delete, class: 'text-dark' do %>
      <span aria-hidden="true">&times;</span>
    <% end %>
  </div>
  <div class="card-body text-secondary">
    <p class="card-text">
      <%= message.body %>
    </p>
  </div>
</div>
